# Virtuelle Umgebungen
.venv/
venv/

# Bytecode-Dateien
__pycache__/
*.py[cod]

# C-Erweiterungen
*.so

# Logs und temporäre Dateien
*.log
*.tmp

# Build-Ordner
build/
dist/
*.egg-info/

# IDE-spezifisch (VS Code, PyCharm usw.)
.vscode/
.idea/

# Betriebssystem-spezifisch
.DS_Store
Thumbs.db

fitness-app.zip
